body {
	font-family: Arial;
}

/* Centered the header */
.center{
  text-align: center;
}

/* Use FlexBox to create two columns and make visualizations stacking vertically */

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}


/* Customerize the images */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* Customerize the button */
button {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  color: black;
  border-color: royalblue;
  border-radius: 10px;
  border-style: double;
  background-color: antiquewhite;
  padding: 20px;
}

/* Create class for functionality in javascript function */
.hide{
  display: none;
}