body {
	font-family: Arial;

}

/* Centered the header */
.center{
  text-align: center;
}


/* Use FlexBox to create two columns and customize */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left {
  width: 50%;
}


.right {
  width: 50%;

}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}