body {
	font-family: Arial;

}

/* Centered the header */
.center{
  text-align: center;
}


/* Use FlexBox to create two columns and customize */

.column{
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


.left {
  width: 50%;
}

.right {
  width: 50%;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}